<% if(mode === 'allresources') { %>
  <form action="/main/resources/search" method="get">
<% } else if(mode === 'alltutorials') { %>
  <form action="/main/tutorials/search" method="get">
<% } else { %>
  <form action="/main/search" method="get">
<% } %>
    <div class="container">
      <div class="kenny">
        <% if(mode === 'alltutorials') { %>
          <input
          type="text"
          id="mainsearch"
          name="mainsearch"
          placeholder="Search through the tutorials..."
          value="<%= searchstring %>"
          data="<%= searchid %>"
          autofocus
          >
        <% } else if(mode === 'allresources') { %>
          <input
          type="text"
          id="mainsearch"
          name="mainsearch"
          placeholder="Search through the resources..."
          value="<%= searchstring %>"
          data="<%= searchid %>"
          autofocus
          >
        <% } else { %>
          <input
            type="text"
            id="mainsearch"
            name="mainsearch"
            placeholder="What are you looking for today?"
            value="<%= searchstring %>"
            data="<%= searchid %>"
            autofocus
            >
        <% } %>
      </div>
      <div class="button">
        <input type="submit" onClick="searchKeywords()" value="SEARCH">
        <div class="dropdown">
          <p class="navlink">Categories</p>
          <div class="dropdown-content">
            <div class="dropdown-row">
              <a href="/main"><p class="navlink">Newest</p></a>
              <a href="#"><p class="disabled navlink">Popular</p></a>
            </div>
            <hr />
            <div class="dropdown-row">
              <a href="/main/search?mainsearch=javascript+DOM+JQuery+CSS+function+html+flexbox+arrays"><p class="navlink">Unit 01</p></a>
              <a href="/main/search?mainsearch=middleware+node+express+authorization+authentication+psql+ejs+fetch+api+cookies"><p class="navlink">Unit 02</p></a>
              <a href="/main/search?mainsearch=react+authorization+authentication+psql+git+fetch+tokens"><p class="navlink">Unit 03</p></a>
              <a href="/main/search?mainsearch=ruby+rails+psql"><p class="navlink">Unit 04</p></a>
            </div>
            <hr />
            <div class="dropdown-row">
              <div class="flexbox">
                <div class="flex-content">
                <a href="/main/search?mainsearch=javascript"><p class="navlink">Javascript</p></a>
                </div>
                <div class="flex-content">
                <a href="/main/search?mainsearch=jquery"><p class="navlink">JQuery</p></a>
                </div>
                <div class="flex-content">
                <a href="/main/search?mainsearch=API"><p class="navlink">API</p></a>
                </div>
              </div>
              <div class="flexbox">
                <div class="flex-content">
                <a href="/main/search?mainsearch=node"><p class="navlink">Node</p></a>
                </div>
                <div class="flex-content">
                <a href="/main/search?mainsearch=sql"><p class="navlink">SQL</p></a>
                </div>
                <div class="flex-content">
                <a href="/main/search?mainsearch=react"><p class="navlink">React</p></a>
                </div>
              </div>
              <div class="flexbox">
                <div class="flex-content">
                <a href="/main/search?mainsearch=ruby+rails"><p class="navlink">Ruby/Rails</p></a>
              </div>
            </div>
          </div>
        </div>
          <% if(score.score < 25) { %>
            <div class="dropdown">
              <p class="navlink">Tutorials</p>
              <div class="dropdown-content">
                <p class="dropdown-message">You need a score of 25 or higher to view this section.
                Check your user profile page in the navbar to see what your score is.</p>
                <ul>
                  <li><p class="dropdown-message">Posting Questions: 10pts</p></li>
                  <li><p class="dropdown-message">Posting Answers: 10pts</p></li>
                  <li><p class="dropdown-message">Voting On Answers: 2pts</p></li>
                </ul>
              </div>
            </div>
          <% } else { %>
            <a href="/main/tutorials"><p class="navlink">Tutorials</p></a>
          <% } %>
      </div>
    </div>
  </form>
<article class="buttoncontainer clearfix">
  <form action="/main/post/new">
    <input class="newpostbutton" id="upperright" type="submit" value="Ask A Question">
  </form>
</article>


