
<% if(usertype === 'admin') { %>
  <div class="kenny">
    <div class="clearfix commentheader">
      <div id="newcommentbutton">
        <form action="/main/resources/new" method="get">
          <input type="submit" id="newcomment" value="New Resource">
        </form>
      </div>
    </div>
  </div>
<% } %>

<div id="searchresults">
  <% if(resources.length === 0) { %>
<!--     <div id="searchresultnumber">
      <h3>0 results</h3>
    </div> -->
  <% } else if(Object.keys(resources[0]).length === 0) { %>
  <% } else { %>
    <hr />
    <% resources.forEach(d => { %>
      <div class="kenny">
        <article><%- d.labelhtml %></article>
        <% if(usertype === 'admin') { %>
          <form action="/main/resources/<%= d.id %>/edit" method="get">
            <input type="submit" id="editpost" value="Edit">
          </form>
        <% } %>
        <div>
          <span class="showpostdate">Posted <%= d.date_created.toString().slice(0,15) %> by <a href="/profile/<%= d.username %>" class="userlink"><%= d.username %></a></span>
        </div>
      </div>
      <hr />
    <% }) %>
  <% } %>
</div>
