<% include ../partials/boilerplate %>
<% include ../partials/navtabbed %>

<% include ../partials/mainsearch %>

<div class="kenny">
  <div class="posttitlebox">
    <h2><%= post.post_title %></h2>
    <div class="reg editdelete">
      <% if(post.userid === authorid || usertype === 'admin-phil') { %>
        <form action="/main/post/<%= post.id %>/edit" method="get">
          <input type="submit" id="editpost" value="Edit">
        </form>
      <% } %>
      <% if(usertype.slice(0,5) === 'admin') { %>
        <form action="/main/post/<%= post.id %>/delete?_method=put" method="post">
          <div id="databucket">
          </div>
          <input type="submit" id="deletepost" value="Delete" onmouseover="grabData()">
        </form>
      <% } %>
    </div>
  </div>
  <div class="showposthtml"><%- post.posthtml %></div>
  <div>
    <span class="showpostdate">Posted <%= post.date_created.toString().slice(0,15) %> by <a href="/profile/<%= post.username %>"><%= post.username %></a></span>
    <span class="userprogram"> - <%= post.programshort %> - <%= post.cohort %></span>
  </div>
  <div class="tags">
      <% if(post.tags !== '') { %>
        <% post.tags.trim().split(' ').forEach(tag => { %>
          <form action="/main/search/tag/<%= tag %>" method="get">
            <input type="submit" id="searchtag" value="<%= tag %>">
          </form>
        <% }) %>
      <% } %>
  </div>
</div>
<hr />
<div class="kenny">
  <div class="clearfix commentheader">
    <h3>Answers</h3>
    <div id="newcommentbutton">
      <form action="/main/comment/<%= post.id %>/new" method="get">
        <input type="submit" id="newcomment" value="New Answer">
      </form>
    </div>
  </div>
  <hr />
  <% comments.forEach(d => { %>
    <section>
      <div class="votebuttons">
        <% if(d.vote === 1) { %>
          <div
                class="uparrow uparrowselected"
                id="u<%= d.id %>"
                data="<%= d.id %>"
                onClick="upVote(<%= d.id %>, <%= d.postid %>)"
          ></div>
        <% } else { %>
          <div
                class="uparrow"
                id="u<%= d.id %>"
                data="<%= d.id %>"
                onClick="upVote(<%= d.id %>, <%= d.postid %>)"
          ></div>
        <% } %>
        <h3 class="votecount" id="score<%= d.id %>" name="score"><% if(d.votesum !== null){ %><%= d.votesum %> <% } else { %> <%= 0 %> <% } %></h3>
        <% if(d.vote === -1) { %>
          <div class="downarrow downarrowselected"
                id="d<%= d.id %>"
                data="<%= d.id %>"
                onClick="downVote(<%= d.id %>, <%= d.postid %>)"
          ></div>
        <% } else { %>
          <div class="downarrow"
                id="d<%= d.id %>"
                data="<%= d.id %>"
                onClick="downVote(<%= d.id %>, <%= d.postid %>)"
          ></div>
        <% } %>
      </div>
      <div class="commentbox">
        <div class="showposthtml"><%- d.commenthtml %></div>
        <br/>
        <span class="showpostdate">Posted <%= d.date_created.toString().slice(0,15) %> by <a href="/profile/<%= d.username %>"><%= d.username %></a></span>
        <span class="userprogram"> - <%= d.programshort %> - <%= d.cohort %></span>
        <% if(d.userid === 1 || usertype === 'admin-phil') { %>
          <form action="/main/comment/<%= d.id %>/edit" method="get">
            <input type="submit" id="editpost" value="Edit">
          </form>
        <% } %>
        <% if(usertype.slice(0,5) === 'admin') { %>
          <form action="/main/comment/<%= d.id %>/delete?_method=put" method="post">
            <div id="databucket">
            </div>
            <input type="submit" id="deletepost" value="Delete" onmouseover="grabData()">
          </form>
        <% } %>
      </div>
    </section>
  <hr class="commentdivider"/>
  <% }) %>
</div>

<!-- <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&amp;skin=sunburst"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="../../../scripts/voteScript.js"></script>

<% include ../partials/foot %>
