<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<form action="/main/search" method="get">
  <div class="container">
    <div class="kenny">
      <input
        type="text"
        id="mainsearch"
        name="mainsearch"
        placeholder="What are you looking for today?"
        >
    </div>
    <div class="button">
      <input type="submit" value="SEARCH">
    </div>
  </div>
</form>

<div class="kenny">
  <div class="posttitlebox">
    <h2><%= post.post_title %></h2>
    <% if(post.userid === authorid) { %>
      <form action="/main/post/<%= post.id %>/edit" method="get">
        <input type="submit" id="editpost" value="Edit">
      </form>
    <% } %>
  </div>
  <div class="showposthtml"><%- post.posthtml %></div>
  <div>
    <span class="showpostdate">Posted <%= post.date_created.toString().slice(0,15) %> by <a href="/users/<%= post.userid %>"><%= post.username %></a></span>
    <span class="userprogram"> - <%= post.programshort %> - <%= post.cohort %></span>
  </div>
  <div class="tags">
      <% post.tags.split(' ').forEach(tag => { %>
        <form action="/main/search/tag/<%= tag %>" method="get">
          <input type="submit" id="searchtag" value="<%= tag %>">
        </form>
      <% }) %>
  </div>
</div>
<hr />
<div class="kenny">
  <div class="clearfix commentheader">
    <h3>Comments</h3>
    <div id="newcommentbutton">
      <form action="/main/comment/<%= post.id %>/new" method="get">
        <input type="submit" id="newcomment" value="New Comment">
      </form>
    </div>
  </div>
  <hr />
  <% comments.forEach(d => { %>
    <section>
      <div class="votebuttons">
        <div
              class="uparrow"
              id="u<%= d.id %>"
              name="up<%= d.id %>"
              onClick="upVote(<%= d.id %>)"
        ></div>
        <input type="hidden" name="up<%= d.id %>">
        <h3 class="votecount" id="score<%= d.id %>" name="score"><%= d.comment_score %></h3>
        <div class="downarrow"
              id="d<%= d.id %>"
              name="down<%= d.id %>"
              onClick="downVote(<%= d.id %>)"
        ></div>
        <input type="hidden" name="down<%= d.id %>">
      </div>
      <div class="commentbox">
        <div class="showposthtml"><%- d.commenthtml %></div>
        <br/>
        <span class="showpostdate">Posted <%= d.date_created.toString().slice(0,15) %> by <a href="/users/<%= d.userid %>"><%= d.username %></a></span>
        <span class="userprogram"> - <%= d.programshort %> - <%= d.cohort %></span>
        <% if(post.userid === authorid) { %>
          <form action="/main/comment/<%= d.id %>/edit" method="get">
            <input type="submit" id="editpost" value="Edit">
          </form>
        <% } %>
      </div>
    </section>
  <hr class="commentdivider"/>
  <% }) %>
</div>

<script src="../../../scripts/voteScript.js"></script>

<% include ../partials/foot %>
