<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<form action="/main/search" method="get">
  <div class="container">
    <div class="kenny">
      <input
        type="text"
        id="mainsearch"
        name="mainsearch"
        placeholder="What are you looking for today?"
        value="<%= searchstring %>"
        data="<%= searchid %>"
        >
    </div>
    <div class="button">
      <input type="submit" value="SEARCH">
    </div>
  </div>
</form>

    <% if(searchdata.length === 0) { %>
      <div id="searchresultnumber"><h3>0 results</h3></div>
    <% } else if(Object.keys(searchdata[0]).length === 0) { %>
    <% } else { %>
      <% if(searchdata.length === 1) { %>
        <div id="searchresultnumber"><h3><%= searchdata.length %> result</h3></div>
        <hr />
      <% } else { %>
        <div id="searchresultnumber"><h3><%= searchdata.length %> results</h3></div>
        <hr />
      <% } %>
<div class="container" id="searchresults"

>
      <% searchdata.forEach(d => { %>
  <div class="kenny">
        <a href="/main/post/<%= d.id %>?s=<%= searchid.id %>">
          <h2><%= d.post_title %></h2>
        </a>
        <p><%= d.post.slice(0,50) %></p>
        <p>Posted <%= d.date_created.toString().slice(0,15) %> by <a href="/users/<%= d.userid %>"><%= d.username %></a></p>
        <div class="tags">
          <% d.tags.split(' ').forEach(tag => { %>
            <form action="/main/search/tag/<%= tag %>" method="get">
              <input type="submit" id="searchtag" value="<%= tag %>">
            </form>
          <% }) %>
        </div>
  </div>
        <hr />
      <% }) %>
    <% } %>
</div>

<% include ../partials/foot %>
